@font-face {
   font-family: "Inter 18pt Medium";
   src: url("fonts/Inter 18pt Medium.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Inter 18pt Regular";
   src: url("fonts/Inter 18pt Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}